
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    
        <div class="container-fluid">

        <img src="/home/stag15/Bureau/MUHANNAD/FRONTEND/STATIQUE/HTML/jarditou_html_zip/images/jarditou_logo.jpg" alt="Jarditou" class="img-fluid pt-1 d-none d-md-block">
        

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item me-5">
                  <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link" href="#">Catégorie</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link" href="#">Plats</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
              </ul>
            </div>
        </div>

</nav>


<div class="container mt-4">
  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>